#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
} 

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.menu {
  position: absolute; /* Para posicionar el menú de forma absoluta */
  top: 50%; /* Ajusta la posición vertical del menú */
  left: 50%; /* Ajusta la posición horizontal del menú */
  transform: translate(-50%, -50%); /* Centra el menú horizontal y verticalmente */
  background-color: rgba(255, 255, 255, 0.7); /* Fondo semi-transparente para el menú */
  padding: 20px; /* Espacio alrededor del menú */
}

.menu-options {
  position: absolute; /* Para posicionar los botones de forma absoluta dentro del contenedor del menú */
  bottom: 20px; /* Ajusta la distancia desde la parte inferior del contenedor */
  left: 50%; /* Centra los botones horizontalmente */
  transform: translateX(-50%); /* Centra los botones horizontalmente */
}

.menu-options button {
  margin: 5px; /* Espacio entre los botones */
}


.menu-fondo
{
  background-image: url(https://media.istockphoto.com/id/987904840/es/vector/desordenada-habitaci%C3%B3n-ni%C3%B1os.jpg?s=612x612&w=0&k=20&c=zyhYnxh47oGepbEOdnCdpLShwvLHTrExFm2epRwV56o=);
  background-size:cover; /* Cubre todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* No se repite la imagen */
}













